<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name="com.acuant.acuantcamera.camera.AcuantCameraActivity"
            android:screenOrientation="portrait"
            android:rotationAnimation="seamless"
            android:resizeableActivity="false"
            tools:targetApi="29" />

    </application>

</manifest>
